
/* Asciidoctor default stylesheet | MIT License | http://asciidoctor.org */
/* Remove comment around @import statement below when using as a custom stylesheet */
/*@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";*/
#toc{border-bottom:1px solid #efefed;padding-bottom:.5em}
#toc>ul{margin-left:.125em}
#toc ul.sectlevel0>li>a{font-style:italic}
#toc ul.sectlevel0 ul.sectlevel1{margin:.5em 0}
#toc ul{font-family:"Open Sans","DejaVu Sans",sans-serif;list-style-type:none}
#toc li{line-height:1.3334;margin-top:.3334em}
#toc a{text-decoration:none}
#toc a:active{text-decoration:underline}
#toctitle{color:#7a2518;font-size:1.2em}
@media only screen and (min-width:768px){#toctitle{font-size:1.375em}
body.toc2{padding-left:15em;padding-right:0}
#toc.toc2{margin-top:0!important;background-color:#f8f8f7;position:fixed;width:15em;left:0;top:0;border-right:1px solid #efefed;border-top-width:0!important;border-bottom-width:0!important;z-index:1000;padding:1.25em 1em;height:100%;overflow:auto}
#toc.toc2 #toctitle{margin-top:0;margin-bottom:.8rem;font-size:1.2em}
#toc.toc2>ul{font-size:.9em;margin-bottom:0}
#toc.toc2 ul ul{margin-left:0;padding-left:1em}
#toc.toc2 ul.sectlevel0 ul.sectlevel1{padding-left:0;margin-top:.5em;margin-bottom:.5em}
body.toc2.toc-right{padding-left:0;padding-right:15em}
body.toc2.toc-right #toc.toc2{border-right-width:0;border-left:1px solid #efefed;left:auto;right:0}}
@media only screen and (min-width:1280px){body.toc2{padding-left:20em;padding-right:0}
#toc.toc2{width:20em}
#toc.toc2 #toctitle{font-size:1.375em}
#toc.toc2>ul{font-size:.95em}
#toc.toc2 ul ul{padding-left:1.25em}
body.toc2.toc-right{padding-left:0;padding-right:20em}}
#content #toc{border-style:solid;border-width:1px;border-color:#e0e0dc;margin-bottom:1.25em;padding:1.25em;background:#f8f8f7;-webkit-border-radius:4px;border-radius:4px}
#content #toc>:first-child{margin-top:0}
#content #toc>:last-child{margin-bottom:0}

body {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-size: 21px!important;
  line-height: 1.58;
  letter-spacing: -.003em;
  margin-top: 29px;
  width: 90vh;
  margin: 0 auto;
  padding-left: 5vw!important;
}

h1 {
  margin-top: 0;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-left: -2.25px;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0,0,0,.8);
  word-wrap: break-word;
}
h1 {
  border-bottom: 0!important;
}

h2, h3, h4, h5, h6 {
  margin-top: 39px;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left: -1.75px;
  line-height: 1.22;
  letter-spacing: -.022em;
  color: rgba(0,0,0,.44);
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}


blockquote {
  margin-top: 55px;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  margin-left: -1.75px;
  line-height: 1.48;
  letter-spacing: -.014em;
  color: rgba(0,0,0,.6);
  border: none;
  padding: 0;
  padding-left: 50px;
  text-align: left;
}
blockquote:before {
  color: rgba(0,0,0,.6)!important;
}

.byline {
  font-style: italic;
  font-weight: 700;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.8);
}

.blurb {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

hr {
  margin-top: 52px;
  margin-bottom: 42px;
  border: 0;
  text-align: center;
}
hr:before {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  letter-spacing: .6em;
  content: '...';
  display: inline-block;
  margin-left: .6em;
  color: rgba(0,0,0,.6);
  position: relative;
  top: -30px;
}
a {
  text-decoration: none;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.6) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 22px;
  color: inherit;
  background-color: transparent;
}
a:hover {
  outline: 0;
  color: inherit;
}
p {
  font-size: inherit;
}

.title {
  font-style: normal!important;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
  font-weight: 300!important;
  font-size: 13px!important;
  line-height: 1.4!important;
  color: rgba(0,0,0,.6)!important;
  letter-spacing: 0!important;
  text-align: center!important;
  margin-top: 10px!important;
}
.title a {
  text-decoration: none;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.44) 50%,#fff 50%);
  background-size: 2px 2px;
  background-position: 0 14px;
  background-repeat: repeat-x;
  font-size: 13px!important;
}
.title a:hover {
  outline: 0;
  color: inherit;
}

tfoot .tableblock {
  font-weight: bold;
}

/* Responsiveness fixes */
img {
  max-width: 100%;
}
video {
  max-width: 85vw;
}

@media all and (max-width: 600px) {
table {
  width: 55vw!important;
  font-size: 3vw;
}

pre {
  font-size: large;
}
